@import '../../mixin.scss';

/* CSS STYLE OR MODAL POPUP */
.modalPopup {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        width: 700px;
        height: 500px;
        background-color: color(secondary);
        z-index: 9;
        position: relative;
        border-radius: 5px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 15px solid color(white);

        .download {
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 20px;
            top: 20px;
            border: none;
            border-radius: 4px;

            img {
                margin: 0px;
            }
        }

        .loader {
            width: 50px;
            left: 50%;
            margin-left: -25px;
            top: 50%;
            margin-top: -25px;
            position: absolute;
            aspect-ratio: 1;
            border-radius: 50%;
            background:
                radial-gradient(farthest-side, #000 94%, #0000) top/8px 8px no-repeat,
                conic-gradient(#0000 30%, #000);
            -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
            animation: l13 1s infinite linear;
        }

        @keyframes l13 {
            100% {
                transform: rotate(1turn)
            }
        }


        .modal-body {
            position: relative;

            .thumbnails {
                width: 100%;
                height: 280px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                border-radius: 5px 5px 0px 0px;
                position: relative;
            }

            .listImageDetails {
                padding: 10px;

                p {
                    margin: 0px 0px 8px 0px;
                }
            }
        }

        .closeIcon {
            width: 30px;
            position: absolute;
            right: -30px;
            top: -30px;
            height: 30px;
            background-color: color(red);
            border-radius: 50px;
            color: #fff;
            text-align: center;
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            border: 2px solid color(white);
            cursor: pointer;
        }
    }
}