<div class="modalPopup" *ngIf="imageObj">
    <div class="modal-content">
        <ng-container *ngIf="!isLoaded">
            <div class="loader"></div>
        </ng-container>

        <div class="modal-body" *ngIf="isLoaded">
            <div id="modal_img" class="thumbnails" [ngStyle]="{'background-image' : 'url('+ imageObj.download_url +')'}"></div>
            <a [href]="imageObj.download_url" target="_blank" class="download"><img src="../../../assets/images/icon-download.png" alt="" /></a>
            <div class="listImageDetails">
                <p>Author : {{imageObj.author}}</p>
                <p>Id : {{imageObj.id}}</p>
                <p>Height : {{imageObj.height}}</p>
                <p>Width : {{imageObj.width}}</p>
                <p>View Url : {{imageObj.url}}</p>
                <p>Download Url : {{imageObj.download_url}}</p>
            </div>
        </div>

        <div class="closeIcon" (click)="close()">X</div>
    </div>
</div>