<div class="item" *ngFor="let item of item">
    <div class="thumbnail" (click)="openModal(item.id)"
        [ngStyle]="{'background-image': 'url(' + item.download_url +')'}">
        <h3><img src="../../../assets/images/icon-author.png" alt="" /> {{ item.author }}</h3>
       
    </div>
</div>

<app-modalpopup *ngIf="isModalOpen" (closeModal)="closeModal()" [imageObj]="imgPopUpDetail" [isLoaded]="haveGotDetails">
</app-modalpopup>

<ul class="pagination">
    <li (click)="paginate('prev')" type="button">Previous</li>
    <li class="transparent">Current page {{currentpage}}</li>
    <li (click)="paginate('next')" type="button">Next</li>
</ul>