@import '../../../mixin.scss';

/* CSS STYLE OR ITEM */
.item {
    width: calc(20% - 20px);
    height: 280px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    margin: 0px 10px 20px 10px;
    background-color: color(secondary);
    cursor: pointer;

    .thumbnail {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-bottom: 20px;
        position: relative;

        h3 {
            margin: 0px;
            padding: 10px 15px;
            font-size: fSize(18);
            position: absolute;
            font-weight: fWeight(bold);
            width: 100%;
            text-align: left;
            bottom: 0px;
            height: 80px;
            display: flex;
            align-items: end;
            color: color(white);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

            img {
                margin-right: 10px;
            }
        }
    }
}

/* CSS STYLE OR PAGINATION */
ul.pagination {
    display: flex;
    margin: 30px auto 30px auto;
    padding: 0px;
    list-style: none;

    li {
        border: 1px solid #ddd;
        padding: 10px 20px;
        font-size: fsize(16);
        text-transform: uppercase;
        background-color: color(secondary);
        margin: 0px 10px;
        font-weight: fweight(bold);
        cursor: pointer;

        &:hover {
            background-color: color(primary);
        }

        &.transparent {
            background-color: transparent;
            border: none;
        }
    }
}