/* CSS STYLE FOR HEADER */
.pageheader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    height: 100px;
    background-color: #fff;

    h1 {
        display: inline;
        position: relative;
        padding-right: 40px;
        font-size: fsize(22);
        font-weight: feight(normal);
        text-transform: uppercase;

        &:after {
            position: absolute;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            animation: ellipsis steps(5, end) 900ms infinite;
            content: "\2026";
            width: 0px;
    
            @keyframes ellipsis {
                to {
                    width: 40px;
                }

            }
        }
    }
    
}

.listofItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #fff;
}
