@function color($color-name){
    @return var(--color-#{$color-name});
}

@function fWeight($font-weight){
    @return var(--fontweight-#{$font-weight});
}

@function fSize($font-size){
    @return var(--fontsize-#{$font-size});
}