@import "./mixin.scss";

:root {
    --color-primary: #5fcaec;
    --color-secondary: #f5f5f5;
    --color-white: #ffffff;
    --color-red: crimson;

    --fontweight-bold: 600;
    --fontweight-normal: 500;
    --fontweight-light: 100;


    --fontsize-16: 16px;
    --fontsize-18: 18px;
    --fontsize-20: 20px;
    --fontsize-22: 22px;
    --fontsize-24: 24px;
}

* { box-sizing: border-box;}
body { margin: 0px; padding: 30px; background-color: #eee; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
a { text-decoration: none; }